@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

.center {
  text-align: center;
}

.spinner {
  margin-top: 100px;
}

.avatar {
  height: 4em;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0px 0px 5px rgba(50,50,50,0.2);
}

.app {
  max-width: 600px;
  margin: auto;
  margin-top: 2em;
}

.btn:hover {
  background-color: #eee;
  cursor: pointer;
}

